{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes">
    <title>Chat Bot UI/UX & html for web Plugin | Css3 Transition </title>
    <link rel="shortcut icon" href="{% static "panotek/img/favicon.ico" %}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static "panotek/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "panotek/css/main.css" %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="{% static "panotek/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "panotek/css/chatBot.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "panotek/css/timeline.css" %}" rel="stylesheet" type="text/css" />

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
</head>

<body>
    <div class="hide" id="state"></div>
    <!-- Chat bot UI start -->
    <div class="chat-screen">
        <div class="chat-header">
            <div class="chat-header-title">
                Panoteck Chatroom
                <span class="chat-header-options hide">
                    <i class=" fas fa-map-marker-alt dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="location-options">
                        </div>
                    </i>
                    <i class="fas fa-cog dropdown"></i>
                    <i class="fas fa-sign-out-alt" id="logout"></i>
                </span>
            </div>
        </div>


        <!-- Login Screen -->
        <div class="chat-mail d-flex align-items-center">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h3> Login </h3>
                </div>
                <div id="login_error"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" id="email" class="form-control" placeholder="Username" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="password" id="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary btn-rounded btn-block">Submit</button>
                </div>
            </div>
        </div>

        <div class="chat-users hide">
            <div class="list-group" id="chat-users-list">
            </div>            
            <div class="search-chat-users">
                <input type="text" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
            </div>
        </div>

        <!--Chat Screen-->
        <div class="chat-header-bottom hide">
            <div class="chat-header-bottom__icon"><a  href="#" onclick="moveback()" style="padding: 10px;"><i class="fas fa-arrow-left"></i></a></div>
            <div class="chat-header-bottom__name">John Doe</div>
        </div>
        <div class="chat-body hide" id="chat-body">
            <!--<div class="chat-start">Monday, 1:27 PM</div>-->
            <!--<div class="chat-bubble you">Hey There</div>-->
            <!--<div class="chat-bubble me">Hello, How can I help you</div>-->
        </div>

        

        <!--Chat Send Button-->
        <div class="chat-input hide">
            <input type="text" placeholder="Type a message..." id="message_text" autocomplete="off">
            <div class="input-action-icon" id="message_send">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-send">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="chat-bot-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-message-square animate">
            <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-x ">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
    </div>

  </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="257be86a981729866f2fa61c-|49" defer=""></script>
    <!-- Time line Html Ends -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static "panotek/js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "panotek/js/popper.min.js" %}"></script>
    <script src="{% static "panotek/js/bootstrap.min.js" %}"></script>
    <script src="{% static "panotek/js/select2.min.js" %}"></script>
    <script src="{% static "panotek/js/chat.js" %}"></script>

    <script>
        $(document).ready(function () {
            $(".select2_el").select2({
            });
        });
    </script>
    <script>
        let current_user_id = null;
        let current_user_fname = null;
        let to_user_id = null;
        $(document).ready(function () {
            {% if user.is_authenticated %}
                current_user_id = {{user.id}}
                current_user_fname = "{{ user.first_name }}";
                $("#state").text("authenticated")
                loadLocations();
                // Show Chat page directly
                
                $(".chat-bot-icon").click(function (e) {
                    $(this).children('img').toggleClass('hide');
                    $(this).children('svg').toggleClass('animate');
                    $('.chat-screen').toggleClass('show-chat');
                    $('.chat-mail').addClass('hide');
                    $('.chat-users').removeClass('hide');
                    $('.chat-header-options').removeClass('hide');
                    $(".chat-body").addClass("hide");
                    $(".chat-input").addClass("hide")
                    listChatUsers();
                });


            {% else %}
                $("#state").text("notauthenticated")

                // show login page
                $(".chat-bot-icon").click(function (e) {
                    $(this).children('img').toggleClass('hide');
                    $(this).children('svg').toggleClass('animate');
                    $('.chat-screen').addClass('show-chat');
                    $(".chat-body").addClass("hide");
                    $(".chat-input").addClass("hide")
                });
            {% endif %}

            // Allow Login 
            $(".chat-mail button").click(function () {
                $email = $("#email").val()
                $password = $("#password").val()

                $.ajax({
                    type: "POST",
                    data: {
                        "email": $email,
                        "password": $password,
                        "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                    url: "/auth/login/",
                    success: function(resp){
                        resp = JSON.parse(resp);
                        if(resp["status"] == true){
                            current_user_id = resp["id"]
                            current_user_fname = resp["fname"]
                            $(".chat-header-bottom__name").text(current_user_fname)
                        }

                        $(".chat-mail").addClass('hide');
                        $(".chat-users").removeClass('hide');
                        $('.chat-header-options').removeClass('hide');
                        $("#state").text("authenticated");
                        listChatUsers();
                    },
                    error: function(err){
                        $("#login_error").text(err.responseText);
                    }
                })
                $("#login_error").text("");
                $("#password").val("");
            })
        });
    </script>

</body>

</html>